{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-bluebird",
    "transform-regenerator",
    "transform-async-to-generator",
    "syntax-async-functions"
  ]
}