.horizontal-spread {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.horizontal-spread .push-left {
    margin-right: auto;
}

.horizontal-spread .push-right {
    margin-left: auto;
}

.horizontal-spread .push-down {
    margin-top: auto;
}